<ion-header>
  <ion-toolbar>
    <ion-button  slot="start" (click)="mostrarMenu()" expand="block" fill="clear" shape="round">
      <ion-icon slot="start" name="menu-outline" color="success" ></ion-icon>
    </ion-button>
    <ion-title>Mis viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let v of datos" >
      <ion-card >
        <ion-card-header>
          <ion-card-title color="success" >Direccion {{v.direccion}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label >precio: {{v.precio}}</ion-label> 
          </ion-item>
          <ion-item>
            <ion-label >espacios disponibles: {{v.numPasajeros}}</ion-label> 
          </ion-item>
          <ion-button class="marginButon" style="margin-top: 5%;" (click)="updateDatos(v)" type="submit" shape="round" expand="full" fill="solid"  color="success" >
            Actualizar
          </ion-button>
          <ion-button class="marginButon" style="margin-top: 10%;" (click)="deleteDatos(v)" type="submit" shape="round" expand="full" fill="solid"  color="danger" >
            Eliminar
          </ion-button>
        </ion-card-content>
      </ion-card>
      
    </ion-item>

  </ion-list>

</ion-content>
