.background{
    background-color: black;
    height: 100%;
}

.img{
    width: 100%;
}

.marginTop{
    margin-top: 5%;
}

.texto{
    color: green;
}

.aling{
    margin-left: 25%;
}