<ion-header>
  <ion-toolbar>
    <!-- <ion-button  slot="start" (click)="mostrarMenu()" expand="block" fill="clear" shape="round">
      <ion-icon slot="start" name="menu-outline" color="success" ></ion-icon>
    </ion-button> -->
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >

  

    <ion-img class="img noPadding" src="../../../assets/icon/Duber.png"></ion-img>

    <ion-button routerLink="/login" shape="round" expand="full" fill="solid" color="success" >
      Iniciar Sesion
    </ion-button>
  
    <ion-button class="marginTop" routerLink="/registro" shape="round" expand="full" fill="solid" color="success" >
      Registrarse
    </ion-button>
  


</ion-content>
