<ion-header>
  <ion-toolbar>
    <ion-button  slot="start" (click)="mostrarMenu()" expand="block" fill="clear" shape="round">
      <ion-icon slot="start" name="menu-outline" color="success" ></ion-icon>
    </ion-button>
    <ion-title>crear</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #formulario="ngForm" (ngSubmit)="addDatos()" class="margin">
    <ion-item>
      <ion-label  position="floating"> Precio</ion-label>
      <ion-input type="number" name="precio" [(ngModel)]="newDato.precio" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Numero pasajeros</ion-label>
      <ion-input type="number" name="pasajeros" [(ngModel)]="newDato.numPasajeros" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Donde vas?</ion-label>
      <ion-input type="text" name="Destino" [(ngModel)]="newDato.direccion" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <img style="margin-top:2% ;" src="../../../assets/mapa.jpg" >
    </ion-item>
    <ion-button (click)="addDatos()" shape="round" style="margin-top: 10%;" type="submit" expand="full" fill="solid"  color="success" >
      Crear Viaje
    </ion-button>
    
  </form>

</ion-content>
