<ion-header>
  <ion-toolbar>
    <ion-button  slot="start" (click)="mostrarMenu()" expand="block" fill="clear" shape="round">
      <ion-icon slot="start" name="menu-outline" color="success" ></ion-icon>
    </ion-button>
    <ion-title>login</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="margin">
    <form [formGroup]="formulariosLogin" (keyup.enter)="Ingresar()" >
      <ion-item class="back" >
        <ion-label position="floating">Ingrese su Email</ion-label>
        <ion-input type="text" placeholder="hola@hola.cl" name="Correo" formControlName="correo"  ></ion-input>
      </ion-item>
      <ion-item class="back" >
        <ion-label position="floating">Ingrese su password</ion-label>
        <ion-input type="password" placeholder="******" name="password" formControlName="password" ></ion-input>
      </ion-item>
      <ion-button (click)="Ingresar()" shape="round" type="submit" expand="full" fill="solid"  color="success" >
        Enviar
      </ion-button>
    </form>
  </ion-card>
  
 


</ion-content>

